div#c1{
    background-image:url('../imagenes/mercado5.jpg');background-attachment:fixed;background-repeat: no-repeat;background-size: cover;height:700px;
    
}

div#c1 h1{
    color: white;
    font-size:1000%;
    margin-top: 25%;
}

div#c1 h2{
    color: white;
    font-size:200%;
}

div#c2{
    background-image:url('../imagenes/mercado5.jpg');background-attachment:fixed;background-repeat: no-repeat;background-size: cover;height:150px;
    margin-bottom: 2%;
    
}

div#c2 h1{
    color: white;
    font-size:1000%;
    margin-top: 0%;
}

div#c2 h2{
    color: white;
    font-size:200%;
}


div#p1{
    margin-top: 2%;
}

div#cabecera1{
border-bottom: 2px solid black;
}

button.b2{
    margin-left:35%;
    border-radius: 30px;
    width: 25%;
    background-color: white;
    color: black;
    font-size: 150%;
    height: 7%;
    border:5px solid white;
    transition: 0.5s;
}

button.b2:hover{
    border-radius: 30px;
    width: 25%;
    background-color: transparent;
    color: white;
    font-size: 150%;
    height: 7%;
    border:5px solid white;
}